In [1]:
a=["banana","apple","brisket"]

In [3]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
brisket

In [4]:
for e in a:
    print(e)

banana
apple
brisket

In [5]:
for e in a:
    print(e)
    print(e)

banana
banana
apple
apple
brisket
brisket

In [7]:
b=[20,10,5]
for e in b:
    print(e)

20
10
5

In [14]:
b=[20,10,5]
tot=0
for e in b:
    tot+=e
print(tot)

35

In [17]:
range(1,5)

range(1, 5)

In [18]:
#answer to range question
range(1,10*10)

range(1, 100)

In [20]:
list(range(1,5))

[1, 2, 3, 4]

In [21]:
c = list(range(1,5))

In [22]:
print(c)

[1, 2, 3, 4]

In [24]:
for i in range(1,5):
    print(i)

1
2
3
4

In [26]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [27]:
tot3=0
for i in range(1,8):
    if i % 3==0:
        tot3+=i

In [28]:
tot3

9

In [39]:
#answer to question at end
tot=0
for i in range(1,10*10):
    if i % 3 == 0:
        tot+=i
        print(i,end="")
        print(" is divisble by 3!")
    elif i % 5==0:
        tot+=i
        print(i,end="")
        print(" is divisble by 5!")
tot

3 is divisble by 3!
5 is divisble by 5!
6 is divisble by 3!
9 is divisble by 3!
10 is divisble by 5!
12 is divisble by 3!
15 is divisble by 3!
18 is divisble by 3!
20 is divisble by 5!
21 is divisble by 3!
24 is divisble by 3!
25 is divisble by 5!
27 is divisble by 3!
30 is divisble by 3!
33 is divisble by 3!
35 is divisble by 5!
36 is divisble by 3!
39 is divisble by 3!
40 is divisble by 5!
42 is divisble by 3!
45 is divisble by 3!
48 is divisble by 3!
50 is divisble by 5!
51 is divisble by 3!
54 is divisble by 3!
55 is divisble by 5!
57 is divisble by 3!
60 is divisble by 3!
63 is divisble by 3!
65 is divisble by 5!
66 is divisble by 3!
69 is divisble by 3!
70 is divisble by 5!
72 is divisble by 3!
75 is divisble by 3!
78 is divisble by 3!
80 is divisble by 5!
81 is divisble by 3!
84 is divisble by 3!
85 is divisble by 5!
87 is divisble by 3!
90 is divisble by 3!
93 is divisble by 3!
95 is divisble by 5!
96 is divisble by 3!
99 is divisble by 3!

2318

In [ ]:
#Christopher Brown - Exercise 2.5