In [7]:
d={}
d={"George":44,"Tom":32}
d["George"]=24
d

{'George': 24, 'Tom': 32}

In [8]:
d["Tom"]=32
d["Jenny"]=16

In [9]:
d["George"]

24

In [11]:
d["George"]=35
d["George"]

35

In [12]:
d[10]=100
d[10]

100

In [13]:
print(d)

{'George': 35, 'Tom': 32, 'Jenny': 16, 10: 100}

In [17]:
for k,v in d.items():
    print("key: ",end="")
    print(k)
    print("value: ",end="")
    print(v)
    print(" ")

key: George
value: 35

key: Tom
value: 32

key: Jenny
value: 16

key: 10
value: 100

In [20]:
d={"AL":"Alabama",
   "AK":"Alaska",
   "AZ":"Arizona",
   "AR":"Arkansas",
   "CA":"California",
   "CO":"Colorado",
   "CT":"Connecticut",
   "DE":"Delaware", 
   "FL":"Florida",
   "GA":"Georiga" 
  }
for x,y in d.items():
    print(x + " : "+y)

AL : Alabama
AK : Alaska
AZ : Arizona
AR : Arkansas
CA : California
CO : Colorado
CT : Connecticut
DE : Delaware
FL : Florida
GA : Georiga

In [ ]:
#Christopher Brown  - Exercise 2.6